/* Colors */
.white {
  color: #fff !important;
}

.blue {
  color: #388df8 !important;
}

.light-grey {
  color: #eee !important;
}

.grey {
  color: #a0a0a0 !important;
}

.dark-grey {
  color: #737475 !important;
}

.width-100 {
  width: 100%;
}

/* Icons */
.icon-medium {
  font-size: 16px;
}

.icon-medium {
  font-size: 22px;
}

.icon-large {
  font-size: 28px;
}

.btn .icon-medium {
  font-size: 22px;
  line-height: 22px;
  float: none;
  width: 22px;
  vertical-align: middle;
  height: 22px;
  display: inline-block;
  color: #fff;
  margin-bottom: 2px;

}

/* Forms */
input:focus {
  box-shadow: none !important;
}
input:invalid {
  background-color: #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

/*input:required {
  border-color: #800000;
  border-width: 1px;
}*/

input:required:invalid {
  border-color: #C00000;
}

button:disabled {
  background: #dddddd;
  border: 1px solid #c2c0c2;
  color: #a0a0a0;
  pointer-events: none;
}

button:disabled span.icon {
  color: #a0a0a0 !important;
}

pre, pre > small {
  text-overflow: visible !important;
  white-space: normal !important;
}

/* Framework overrides */
strong {
  line-height: 24px;
}

.media-object {
  margin-top: 5px;
}

li.list-group-header {
  background-color: #eee;
}

.img-border {
  border: 2px solid #eee;
}

.form-group {
  margin-top: 5px;
}

#targets li.active button {
  color: #333;
}

#targets li.active progress::-webkit-progress-bar {
  background-color: #fff;
}

progress {
	width: 100%;
	height: 10px;
	margin: 50px auto;
	display: block;
	border: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
	background: #e8e6e8;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #388df8, #0866dc);

	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 1s linear 0 infinite;
}

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}


.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
