<link rel="stylesheet" href="./css/photon.min.css">
<link rel="stylesheet" href="./css/application.css">

<div id="app" class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Kodi Sync</h1>

    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default active">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-cog"></span>
        </button>
        <!-- <button class="btn btn-default active">
          <span class="icon icon-cloud"></span>
        </button> -->
      </div>

      <!-- <button class="btn btn-default">
        <span class="icon icon-home icon-text"></span>
        Filters
      </button> -->

      <button class="btn btn-default" v-on:click="rescan">
        <span class="icon icon-target"></span>
        &nbsp; Rescan
      </button>

      <button class="btn btn-default btn-default pull-right" v-on:click="quit">
        <span class="icon icon-cancel"></span>
      </button>

    </div>
  </header>

  <div class="window-content">

    <div class="pane-group">
      <div class="pane">
        <ul class="list-group">
          <li class="list-group-header">
            Source device
            Number of devices: {{ devices.length }}
          </li>

          <li v-if="source" class="list-group-item">
            <img class="media-object img-border pull-left" v-bind:src="source.image" width="48" height="48">
            <div class="media-body">
              <strong>
                {{ source.name }} ({{ source.ip }})
              </strong>

              <div class="btn-group pull-right">
                <button class="btn btn-mini btn-default" v-bind:class="{ active: showStreamForm }" v-on:click="toggleStreamURLForm">
                  <span class="icon icon-plus-circled"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playerid && source.paused" v-on:click="play(source)">
                  <span class="icon icon-play"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playerid && !source.paused" v-on:click="pause(source)">
                  <span class="icon icon-pause"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playerid && !source.paused" v-on:click="stop(source)">
                  <span class="icon icon-stop"></span>
                </button>
                <button class="btn btn-mini btn-default" v-on:click="setTarget(source)" v-bind:disabled="!targets.length">
                  <span class="icon icon-down-circled"></span>
                </button>
              </div>

              <div v-if="source.stream && source.progress">
                <p>
                  Now playing: {{ source.stream ? source.stream.title : '---' }} ({{ source.progress.percentage }}%)
                </p>

                <p>
                  <progress max="100" v-bind:value="source.progress.percentage"></progress>
                </p>
              </div>

              <div class="form-group pull-left width-100" v-if="showStreamForm">
                <input type="url" class="form-control" placeholder="Please enter a network URL" v-model="streamURL" required>
                <div>
                  <small class="grey">
                    <!-- Validation message ????? -->
                    <!-- https://css-tricks.com/form-validation-ux-html-css/ -->
                  </small>
                </div>

                <br>
                <div class="form-actions">
                  <button class="btn btn-form btn-default" v-on:click="closeStreamURLForm">Cancel</button>
                  <button class="btn btn-form btn-primary" v-on:click="open" v-bind:disabled="!streamURL">
                    <span class="icon icon-paper-plane white"></span>
                    &nbsp; Play
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li v-else class="list-group-item">
            <div class="media-body">
              <strong><span class="icon icon-info-circled"></span> No source device found.</strong>
            </div>
          </li>
        </ul>


        <ul id="#targets" class="list-group">
          <li class="list-group-header">
            Target devices
            <button class="btn btn-mini btn-primary pull-right" v-on:click="refreshAll">
              <span class="icon icon-arrows-ccw white"></span>&nbsp; Refresh all
            </button>
          </li>

          <li class="list-group-item" v-if="!targets.length">
            <div class="media-body">
              <!-- <strong>No taget devices found.</strong> -->
              <strong><span class="icon icon-info-circled"></span> No taget devices found.</strong>

              <br><br>

              <p>
                <fieldset>
                  <legend>
                    &nbsp;
                    <span class="icon icon-lamp dark-grey"></span>
                    ProTip:
                    &nbsp;
                  </legend>

                  <!-- <a href="http://Kodi.wiki/view/Webserver#Enabling_the_webserver" target="_blank">Enable Kodi webserver</a> -->
                  Check Kodi settings:
                  <pre><small>"Enable Settings" > "Services" > "Webserver" > "Allow control of Kodi via HTTP"</small></pre>

                  <br>

                  <p>
                    or try to
                    <button class="btn btn-mini btn-primary" v-on:click="rescan">
                      <span class="icon icon-target white"></span>&nbsp; Rescan
                    </button>
                    the network.
                  </p>
                </fieldset>
                <!-- <small>Now playing: '?????'</small> -->
              </p>


            </div>

          </li>

          <li class="list-group-item" v-bind:class="{ active: device.name === target.name }" v-for="device in targets" v-on:click="setTarget(device)" v-if="targets.length">
            <img class="media-object img-border img-circle pull-left" v-bind:src="device.image" width="48" height="48">
            <div class="media-body">
              <strong>
                {{ device.name }} ({{ device.ip }})
                <!-- <button class="btn btn-mini btn-default pull-right" v-on:click="setSource(device)">
                  <span class="icon icon-up-circled">
                  Set as source
                </button> -->

                <!-- <div class="btn-group pull-right">
                  <button class="btn btn-mini btn-default">
                    <span class="icon icon-pause" v-if="device.playerid"></span>
                    <span class="icon icon-play" v-else></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-if="device.playerid"><span class="icon icon-stop"></span></button>
                  <button class="btn btn-mini btn-default pull-right" v-on:click="setSource(device)">
                    <span class="icon icon-up-circled">
                    Set as source
                  </button>
                </div> -->

                <div class="btn-group pull-right">
                  <button class="btn btn-mini btn-default" v-if="device.playerid && device.paused" v-on:click="play(device)">
                    <span class="icon icon-play"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-if="device.playerid && !device.paused" v-on:click="pause(device)">
                    <span class="icon icon-pause"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-if="device.playerid && !device.paused" v-on:click="stop(device)">
                    <span class="icon icon-stop"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-on:click="setSource(device)">
                    <span class="icon icon-up-circled"></span>
                  </button>
                </div>
              </strong>

              <div v-if="device.stream && device.progress">
                <p>
                  Now playing: {{ device.stream ? device.stream.title : '---' }} ({{ device.progress.percentage }}%)
                </p>

                <p>
                  <progress max="100" v-bind:value="device.progress.percentage"></progress>
                </p>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <footer class="toolbar toolbar-footer">
    <div class="toolbar-actions">
      <div v-if="ready">
        <button class="btn btn-large btn-primary width-100" v-on:click="sync()">
          <p>Sync "{{ source.name }}" with "{{ target.name }}"</p>
        </button>
      </div>
    </div>
  </footer>
</div>

<script src="https://vuejs.org/js/vue.js"></script>

<script>
  const { ipcRenderer } = require('electron')
  const Vue = require('vue/dist/vue.js')
  const Store = require('store')
  const Rpc = require('node-json-rpc')
  const Bonjour = require('bonjour')()
  const Kodi = require('./scripts/kodi')
  const Device = require('./scripts/device')

  Vue.config.silent = false

  var vm = new Vue({
    el: '#app',
    data() {
      return {
        devices: [],
        source: null,
        target: null,
        streamURL: 'http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4',
        showStreamForm: false
      }
    },

    created() {
      // this.scan()
      Device.findAll()
    },

    mounted() {
      let _this = this

      Device.eventHub.on('SERVICE_UP', function(service) {
        console.log('EVENT: Service found:', service.name)
        let device = new Device(service)
        _this.addDevice(device)
      })

      Device.eventHub.on('SERVICE_DOWN', function(service) {
        console.log('EVENT: Service found:', service.name)
        let device = new Device(service)
        _this.removeDevice(device)
      })


      Device.eventHub.on('ACTIVE_PLAYER', function(device, playerid) {
        console.log('EVENT: Active player on device:', device.name, playerid)
        device.playerid = playerid
      })

      Device.eventHub.on('PLAYER_ITEM', function(device, stream) {
        console.log('EVENT: Playback on device:', device.name, stream.title)
        device.stream = stream
      })

      Device.eventHub.on('PLAYER_PROGRESS', function(device, progress) {
        console.log('EVENT: Playback progress:', device.name, progress.percentage, device.timer)

        clearTimeout(device.timer)
        device.progress = progress

        // FIXME: getProgress called twice for each device
        device.timer = setTimeout(function() {
          device.getProgress()
        }, 5000)
      })

      Device.eventHub.on('PLAYER_OPEN', function(device) {
        _this.refresh(device)
      })

      Device.eventHub.on('PLAYER_PLAY', function(device) {
        device.paused = false
        _this.refresh(device)
      })

      Device.eventHub.on('PLAYER_PAUSE', function(device) {
        device.paused = true
        clearTimeout(device.timer)
      })

      Device.eventHub.on('PLAYER_STOP', function(device) {
        _this.refresh(device)
      })

    },

    destroyed() {
      console.warn('Component destroyed, clear timers')
      this.clearAllTimers()

      // Device.eventHub.removeListener('SERVICE_UP', function() {
      //   console.log(Device.eventHub.listenerCount('SERVICE_UP'))
      // })
      //
      // Device.eventHub.removeListener('ACTIVE_PLAYER_FOUND', function() {
      //   console.log(Device.eventHub.listenerCount('ACTIVE_PLAYER_FOUND'))
      // })
      //
      // Device.eventHub.removeListener('NOW_PLAYING', function() {
      //   console.log(Device.eventHub.listenerCount('NOW_PLAYING'))
      // })
      //
      // Device.eventHub.removeListener('PROGRESS', function() {
      //   console.log(Device.eventHub.listenerCount('PROGRESS'))
      // })
    },

    watch: {
      devices() {
        this.source = this.devices[0]
        if(this.devices.length == 2) {
          this.target = this.devices[1]
        }
      },

      source(val) {
        let _this = this
        if(!!this.source) {
          if(this.source.playerid) {
            this.source.refresh()
            // Kodi.nowPlaying(this.source, function() {
            //   _this.sourceDeviceImage()
            // })
          }
        }
      }
    },

    computed: {
      targets() {
        let _this = this
        return this.devices.filter(function(device) {
          return device.name != _this.source.name
        })
      },

      ready() {
        return this.source && this.target
      }
    },

    methods: {
      addDevice(device) {
        let includes = this.devices.find(function(item) {
          return item.name == device.name
        })

        if(!includes) {
          this.devices.push(device)
        }
      },

      removeDevice(device) {
        this.devices = this.devices.filter(function (item) {
          return item.name != device.name
        })
      },

      imageExists(url, callback) {
        var img = new Image();
        img.onload = function() { callback(true); };
        img.onerror = function() { callback(false); };
        img.src = url;
      },

      sourceDeviceImage() {
        let _this = this

        if(this.source && this.source.stream) {
          if(this.source.stream.image) {
            this.imageExists(this.source.stream.image, function(exists) {
              if(exists) {
                _this.source.image = _this.source.stream.image
              }
            })
          }
        }
      },

      rescan() {
        this.devices = []
        this.clearAllTimers()
        Device.findAll()
      },

      refresh(device) {
        console.log('INDEX: refresh', device.name)
        device.getActivePlayers()
        device.nowPlaying()
        device.getProgress()
      },

      refreshAll() {
        this.clearAllTimers()

        for(let i in this.devices) {
          let device = this.devices[i]
          device.refresh()
        }
      },

      clearAllTimers() {
        for(let i in this.devices) {
          console.log('Clear refresh timer')
          clearTimeout(this.devices[i].timer)
        }
      },

      setSource(device) {
        this.source = device
        device.refresh()
      },

      setTarget(device) {
        this.target = device

        if(device.name === this.source.name) {
          this.source = this.targets[0]
        }
      },

      toggleStreamURLForm() {
        this.showStreamForm = !this.showStreamForm
      },

      closeStreamURLForm() {
        // this.streamURL = null
        this.showStreamForm = false
      },

      // isPlaying(device) {
      //   return device.playerid && device.stream
      // },

      open() {
        //TODO: Add loading indicator
        this.source.open(this.streamURL)
        this.closeStreamURLForm()
      },

      play(device) {
        device.play()
      },

      pause(device) {
        device.pause()
      },

      stop(device) {
        device.stop()
      },

      sync() {
        Device.sync(this.source, this.target)
        // Kodi.nowPlaying(this.target)
        this.refreshAll()
      },

      quit() {
        ipcRenderer.send('quit', 'ping')
      }
    }
  })


</script>
