<link rel="stylesheet" href="./css/photon.min.css">
<link rel="stylesheet" href="./css/application.css">

<div id="app" class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Kodi Sync</h1>

    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default active">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-cog"></span>
        </button>
      </div>

      <!-- <button class="btn btn-default">
        <span class="icon icon-home icon-text"></span>
        Filters
      </button> -->

      <button class="btn btn-default" v-on:click="rescan">
        <span class="icon icon-target"></span>
        &nbsp; Rescan
      </button>

      <!-- <button class="btn btn-default" v-on:click="backward">
        <span class="icon icon-fast-backward"></span>
        &nbsp; Backward
      </button>

      <button class="btn btn-default" v-on:click="seek">
        <span class="icon icon-fast-forward"></span>
        &nbsp; Forward
      </button> -->

      <button class="btn btn-default btn-default pull-right" v-on:click="quit">
        <span class="icon icon-cancel"></span>
      </button>

    </div>
  </header>

  <div class="window-content">

    <div class="pane-group">
      <div class="pane">
        <ul class="list-group">
          <li class="list-group-header">
            Source device
          </li>

          <li v-if="source" class="list-group-item">
            <img class="media-object img-border pull-left" v-bind:src="source.image" width="48" height="48">
            <div class="media-body">
              <strong>
                {{ source.name }} ({{ source.ip }})
              </strong>

              <div class="btn-group pull-right">
                <button class="btn btn-mini btn-default" v-bind:class="{ active: showStreamForm }" v-on:click="toggleStreamURLForm">
                  <span class="icon icon-plus-circled"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playing && source.paused" v-on:click="play(source)">
                  <span class="icon icon-play"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playing && !source.paused" v-on:click="pause(source)">
                  <span class="icon icon-pause"></span>
                </button>
                <button class="btn btn-mini btn-default" v-if="source.playing" v-on:click="stop(source)">
                  <span class="icon icon-stop"></span>
                </button>
                <button class="btn btn-mini btn-default" v-on:click="setTarget(source)" v-bind:disabled="!targets.length">
                  <span class="icon icon-down-circled"></span>
                </button>
              </div>

              <div v-if="source.stream && source.progress">
                <p>
                  {{ source.stream ? source.stream.title : '---' }} ({{ source.progress.percentage.toFixed(2) }}%)
                </p>

                <p>
                  <progress max="100" v-bind:value="source.progress.percentage"></progress>
                </p>
              </div>

              <div class="form-group pull-left width-100" v-if="showStreamForm">
                <input type="url" class="form-control" placeholder="Please enter a network URL" v-model="streamURL" required>
                <div>
                  <small class="grey">
                    <!-- Validation message ????? -->
                    <!-- https://css-tricks.com/form-validation-ux-html-css/ -->
                  </small>
                </div>

                <br>
                <div class="form-actions">
                  <button class="btn btn-form btn-default" v-on:click="closeStreamURLForm">Cancel</button>
                  <button class="btn btn-form btn-primary" v-on:click="open" v-bind:disabled="!streamURL">
                    <span class="icon icon-paper-plane white"></span>
                    &nbsp; Play
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li v-else class="list-group-item">
            <div class="media-body">
              <strong><span class="icon icon-info-circled"></span> No source device found.</strong>
            </div>
          </li>
        </ul>


        <ul id="#targets" class="list-group">
          <li class="list-group-header">
            Target devices ({{ targets.length }})
            <button class="btn btn-mini btn-primary pull-right" v-on:click="refreshAll">
              <span class="icon icon-arrows-ccw white"></span>&nbsp; Refresh all
            </button>
          </li>

          <li class="list-group-item" v-if="!targets.length">
            <div class="media-body">
              <!-- <strong>No taget devices found.</strong> -->
              <strong><span class="icon icon-info-circled"></span> No taget devices found.</strong>

              <br><br>

              <p>
                <fieldset>
                  <legend>
                    &nbsp;
                    <span class="icon icon-lamp dark-grey"></span>
                    ProTip:
                    &nbsp;
                  </legend>

                  <!-- <a href="http://Kodi.wiki/view/Webserver#Enabling_the_webserver" target="_blank">Enable Kodi webserver</a> -->
                  Check Kodi settings:
                  <pre><small>"Enable Settings" > "Services" > "Webserver" > "Allow control of Kodi via HTTP"</small></pre>

                  <br>

                  <p>
                    or try to
                    <button class="btn btn-mini btn-primary" v-on:click="rescan">
                      <span class="icon icon-target white"></span>&nbsp; Rescan
                    </button>
                    the network.
                  </p>
                </fieldset>
              </p>


            </div>

          </li>

          <li class="list-group-item" v-bind:class="{ active: device.name === target.name }" v-for="device in targets" v-on:click="setTarget(device)" v-if="targets.length">
            <img class="media-object img-border img-circle pull-left" v-bind:src="device.image" width="48" height="48">
            <div class="media-body">
              <strong>
                {{ device.name }} ({{ device.ip }})
                <div class="btn-group pull-right" v-if="device.playing">
                  <button class="btn btn-mini btn-default" v-if="device.paused" v-on:click="play(device)">
                    <span class="icon icon-play"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-if="!device.paused" v-on:click="pause(device)">
                    <span class="icon icon-pause"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-on:click="stop(device)">
                    <span class="icon icon-stop"></span>
                  </button>
                  <button class="btn btn-mini btn-default" v-on:click="setSource(device)">
                    <span class="icon icon-up-circled"></span>
                  </button>
                </div>
              </strong>

              <div v-if="device.stream && device.progress">
                <p>
                  {{ device.stream ? device.stream.title : '---' }} ({{ device.progress.percentage.toFixed(2) }}%)
                </p>

                <p>
                  <progress max="100" v-bind:value="device.progress.percentage"></progress>
                </p>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <footer class="toolbar toolbar-footer">
    <div class="toolbar-actions">
      <div v-if="ready">
        <button class="btn btn-large btn-primary width-100" v-on:click="sync()">
          <p>Sync "{{ source.name }}" with "{{ target.name }}"</p>
        </button>
      </div>
    </div>
  </footer>
</div>

<script src="https://vuejs.org/js/vue.js"></script>
<script src="./scripts/app.js"></script>
